[Desktop Entry]
Name=Settlers 2 10th Anniversary
Comment=Game
Exec=start %U
Icon=com.gog.Settlers2.tenthanniversary
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
Categories=Game;
Keywords=Real-time;Strategy;
